@import "./reset.css";
/* 선희 */

/* 나현 */
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
/* 은서 */

/* 병우 */

/* 명지 */
